- hosts: "all"
  become: "yes"
  tasks:

  - name: Install packages
    apt:
      pkg:
      - ufw  
      - git
      - wget
      - curl
      - make
      - vim
      - unzip
      - python3
      - python3-dev
      - python3-pip
