- hosts: "all"
  become: "yes"
  tasks:

  - name: Install Docker reqs
    apt:
      update_cache: yes
      pkg:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release

  - name: Download Docker GPG key
    ansible.builtin.get_url:
      url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
      dest: /usr/share/keyrings/docker-archive-keyring.gpg
      mode: '0644'

  - name: Add Docker repository
    ansible.builtin.apt_repository:
      repo: "deb [arch=amd64 signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
      state: present

  - name: Remove old docker-compose package if present
    ansible.builtin.apt:
      name: docker-compose
      state: absent
      purge: yes
      update_cache: yes

  - name: Install Docker
    apt:
      update_cache: yes
      pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      state: present
      update_cache: yes
