---
- name: Deploy Wings Game Server Control Panel
  hosts: "all"
  become: yes

  vars:
    wings_panel_url: "https://panel.krakenservers.net"
    wings_token: "{{ lookup('env','PROVISION_TOKEN') }}"
    wings_node: "{{ lookup('env','PROVISION_NODE') }}"

  tasks:   
    - name: Create directory for Wings config
      file:
        path: /etc/pterodactyl
        state: directory
        mode: "0755"

    - name: Copy Wings service template to server
      template:
        src: wings.service.j2
        dest: /etc/systemd/system/wings.service
      notify: Restart Wings Service

    - name: Download and install Wings
      shell: |
        curl -L -o /usr/local/bin/wings "https://github.com/pterodactyl/wings/releases/latest/download/wings_linux_$([[ "$(uname -m)" == "x86_64" ]] && echo "amd64" || echo "arm64")"
        chmod +x /usr/local/bin/wings
      args:
        executable: /bin/bash

    - name: Configure Wings with panel URL and token
      shell: |
        cd /etc/pterodactyl && wings configure --panel-url {{ wings_panel_url }} --token {{ wings_token }} --node {{ wings_node }}
      args:
        executable: /bin/bash

    - name: Create SSH key for Pterodactyl SFTP
      become: yes
      command: ssh-keygen -t ed25519 -f /var/lib/pterodactyl/volumes/.sftp/id_ed25519 -N ""
      args:
        creates: /var/lib/pterodactyl/volumes/.sftp/id_ed25519
    
    - name: Set ownership on private key
      become: yes
      file:
        path: /var/lib/pterodactyl/volumes/.sftp/id_ed25519
        owner: pterodactyl
        group: pterodactyl
        mode: '0600'
    
    - name: Set ownership on public key
      become: yes
      file:
        path: /var/lib/pterodactyl/volumes/.sftp/id_ed25519.pub
        owner: pterodactyl
        group: pterodactyl
        mode: '0644'

    - name: Enable and start Wings service
      systemd:
        name: wings
        state: started
        enabled: yes
    
    - name: Allow Panel.
      ufw:
        rule: allow
        port: "8443"
        proto: tcp

    - name: Allow FTP.
      ufw:
        rule: allow
        port: "2022"
        proto: tcp

    - name: Reload ufw
      command: ufw reload

  handlers:
    - name: Restart Wings Service
      systemd:
        name: wings
        state: restarted
        enabled: yes
